Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/ActiveSubstance.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="ActiveSubstanceCode.xsd" />
  <include schemaLocation="ActiveSubstanceTextWithoutSource.xsd" />
  <include schemaLocation="ActiveSubstanceText.xsd" />
  <include schemaLocation="ActiveSubstanceFreeText.xsd" />
  <element name="ActiveSubstance" type="medicinecard20150101:ActiveSubstanceType">
    <annotation>
      <documentation xml:lang="en-GB">Contains information for one active substance</documentation>
      <documentation xml:lang="da-DK">Indeholder information omkring en aktiv substans</documentation>
    </annotation>
  </element>
  <complexType name="ActiveSubstanceType">
    <choice>
      <sequence>
        <element name="Code" type="medicinecard20150101:ActiveSubstanceCodeType" />
        <element name="Text" type="medicinecard20150101:ActiveSubstanceTextWithoutSourceType" />
      </sequence>
      <element name="SubstanceText" type="medicinecard20150101:ActiveSubstanceTextType" />
      <element name="FreeText" type="medicinecard20150101:ActiveSubstanceFreeTextType" />
    </choice>
  </complexType>
</schema>