Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/ActiveSubstanceCode.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="Source.xsd" />
  <include schemaLocation="SourceDate.xsd" />
  <include schemaLocation="SourceYearAndWeek.xsd" />
  <element name="ActiveSubstanceCode" type="medicinecard20150101:ActiveSubstanceCodeType">
    <annotation>
      <documentation xml:lang="en-GB">Indicates the code of theactive substance</documentation>
      <documentation xml:lang="da-DK">Angiver kode for den aktive substans</documentation>
    </annotation>
  </element>
  <complexType name="ActiveSubstanceCodeType">
    <simpleContent>
      <extension base="medicinecard20150101:ActiveSubstanceCodeValueType">
        <attribute name="source" type="medicinecard20150101:ActiveSubstanceSourceType" use="required" />
        <attribute name="date" type="medicinecard20150101:SourceDateType" use="optional" />
        <attribute name="yearAndWeek" type="medicinecard20150101:SourceYearAndWeekType" use="optional" />
      </extension>
    </simpleContent>
  </complexType>
  <simpleType name="ActiveSubstanceCodeValueType">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="150" />
    </restriction>
  </simpleType>
  <simpleType name="ActiveSubstanceSourceType">
    <union memberTypes="medicinecard20150101:ActiveSubstancePredefinedSourceType medicinecard20150101:UndefinedSourceType" />
  </simpleType>
  <simpleType name="ActiveSubstancePredefinedSourceType">
    <restriction base="medicinecard20150101:UndefinedSourceType">
      <enumeration value="Medicinpriser" />
      <enumeration value="Local" />
    </restriction>
  </simpleType>
</schema>