Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/ActiveSubstanceText.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="Source.xsd" />
  <include schemaLocation="SourceDate.xsd" />
  <include schemaLocation="SourceYearAndWeek.xsd" />
  <element name="ActiveSubstanceText" type="medicinecard20150101:ActiveSubstanceTextType">
    <annotation>
      <documentation xml:lang="en-GB">Contains one active substance from LMS 30 field 5</documentation>
      <documentation xml:lang="da-DK">Indeholder en enkelt aktiv substans fra LMS30 felt 5</documentation>
    </annotation>
  </element>
  <complexType name="ActiveSubstanceTextType">
    <simpleContent>
      <extension base="medicinecard20150101:ActiveSubstanceTextValueType">
        <attribute name="source" type="medicinecard20150101:ActiveSubstanceTextSourceType" use="required" />
        <attribute name="date" type="medicinecard20150101:SourceDateType" use="optional" />
        <attribute name="yearAndWeek" type="medicinecard20150101:SourceYearAndWeekType" use="optional" />
      </extension>
    </simpleContent>
  </complexType>
  <simpleType name="ActiveSubstanceTextValueType">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="150" />
    </restriction>
  </simpleType>
  <simpleType name="ActiveSubstanceTextSourceType">
    <union memberTypes="medicinecard20150101:ActiveSubstanceTextPredefinedSourceType medicinecard20150101:UndefinedSourceType" />
  </simpleType>
  <simpleType name="ActiveSubstanceTextPredefinedSourceType">
    <restriction base="medicinecard20150101:UndefinedSourceType">
      <enumeration value="Chemical Abstract (CAS)" />
      <enumeration value="Medicinpriser" />
      <enumeration value="Local" />
    </restriction>
  </simpleType>
</schema>