Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/AttachOrDetachPrescriptionMedicationResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="PersonIdentifier.xsd" />
  <include schemaLocation="MedicineCardVersion.xsd" />
  <element name="AttachOrDetachPrescriptionMedicationResponse" type="medicinecard20150101:AttachOrDetachPrescriptionMedicationResponseType">
    <annotation>
      <documentation xml:lang="en-GB">A response from a request whichs attaches prescription medications to drug medications or detaches prescription medications</documentation>
      <documentation xml:lang="da-DK">Svar fra en forespørgsel der tilknytter receptordinationer til lægemiddelordinationer eller fjerner tilknytningen</documentation>
    </annotation>
  </element>
  <complexType name="AttachOrDetachPrescriptionMedicationResponseType">
    <sequence>
      <element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType" />
      <element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType" />
    </sequence>
  </complexType>
</schema>