Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/CancelPrescriptionMedicationResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="PersonIdentifier.xsd" />
  <include schemaLocation="MedicineCardVersion.xsd" />
  <include schemaLocation="VersionMismatchWarning.xsd" />
  <include schemaLocation="PrescriptionMedicationIdentifier.xsd" />
  <include schemaLocation="PrescriptionServerError.xsd" />
  <element name="CancelPrescriptionMedicationResponse" type="medicinecard20150101:CancelPrescriptionMedicationResponseType">
    <annotation>
      <documentation xml:lang="en-GB">Response for invalidating one or more prescription medications</documentation>
      <documentation xml:lang="da-DK">Svar på annullering af en eller flere recepter</documentation>
    </annotation>
  </element>
  <complexType name="CancelPrescriptionMedicationResponseType">
    <sequence>
      <sequence>
        <element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType" />
        <element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType" />
        <element minOccurs="0" name="VersionMismatchWarning" type="medicinecard20150101:VersionMismatchWarningType" />
        <element minOccurs="0" maxOccurs="unbounded" name="PrescriptionMedicationIdentifier" type="medicinecard20150101:PrescriptionMedicationIdentifierType" />
        <element minOccurs="0" name="PrescriptionServerError" type="medicinecard20150101:PrescriptionServerErrorType" />
      </sequence>
    </sequence>
  </complexType>
</schema>