Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/CreatedPrescriptionMedication.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="DrugMedicationIdentifier.xsd" />
  <include schemaLocation="DrugMedicationVersion.xsd" />
  <include schemaLocation="VersionMismatchWarning.xsd" />
  <include schemaLocation="PrescriptionMedicationIdentifier.xsd" />
  <element name="CreatedPrescriptionMedication" type="medicinecard20150101:CreatedPrescriptionMedicationType">
    <annotation>
      <documentation xml:lang="en-GB">Document containing one or more prescriptions medications created on a drug prescription</documentation>
      <documentation xml:lang="da-DK">Dokument der indeholder en eller flere receptordinationer der er oprettet på en lægemiddelordination</documentation>
    </annotation>
  </element>
  <complexType name="CreatedPrescriptionMedicationType">
    <sequence>
      <element name="DrugMedicationIdentifier" type="medicinecard20150101:DrugMedicationIdentifierType" />
      <element maxOccurs="unbounded" name="PrescriptionMedicationIdentifier" type="medicinecard20150101:PrescriptionMedicationIdentifierType" />
    </sequence>
  </complexType>
</schema>