Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/CreatePrescriptionMedicationForUseInPracticeResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="PrescriptionMedicationIdentifier.xsd" />
  <element name="CreatePrescriptionMedicationForUseInPracticeResponse" type="medicinecard20150101:CreatePrescriptionMedicationForUseInPracticeResponseType">
    <annotation>
      <documentation xml:lang="en-GB">Response document containing one or more responses from creating prescription medications from drug medications</documentation>
      <documentation xml:lang="da-DK">Response-dokument der indeholder en eller flere svar på oprettelse receptordinationer fra lægemiddelordinationer</documentation>
    </annotation>
  </element>
  <complexType name="CreatePrescriptionMedicationForUseInPracticeResponseType">
    <sequence>
      <element maxOccurs="unbounded" name="Identifier" type="medicinecard20150101:PrescriptionMedicationIdentifierType" />
    </sequence>
  </complexType>
</schema>