Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/CreatedDrugMedication.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="DrugMedicationIdentifier.xsd" />
  <include schemaLocation="DrugMedicationVersion.xsd" />
  <include schemaLocation="EffectuationIdentifier.xsd" />
  <include schemaLocation="PrescriptionMedicationIdentifier.xsd" />
  <element name="CreatedDrugMedication" type="medicinecard20150101:CreatedDrugMedicationType">
    <annotation>
      <documentation xml:lang="en-GB">Element with IDs returned at the creation of a new drug prescription</documentation>
      <documentation xml:lang="da-DK">Element med IDer returneret ved oprettelsen af en ny lægemiddelinformation</documentation>
    </annotation>
  </element>
  <complexType name="CreatedDrugMedicationType">
    <sequence>
      <element name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType" />
      <element name="Version" type="medicinecard20150101:DrugMedicationVersionType" />
      <element minOccurs="0" maxOccurs="unbounded" name="EffectuationIdentifier" type="medicinecard20150101:EffectuationIdentifierType" />
      <element minOccurs="0" maxOccurs="unbounded" name="PrescriptionMedicationIdentifier" type="medicinecard20150101:PrescriptionMedicationIdentifierType" />
    </sequence>
  </complexType>
</schema>