Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/CreateEffectuationResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="PersonIdentifier.xsd" />
  <include schemaLocation="MedicineCardVersion.xsd" />
  <include schemaLocation="VersionMismatchWarning.xsd" />
  <include schemaLocation="CreatedEffectuationOnDrugMedication.xsd" />
  <element name="CreateEffectuationResponse" type="medicinecard20150101:CreateEffectuationResponseType">
    <annotation>
      <documentation xml:lang="en-GB">Outer container element for a response from a request to add a effecutation</documentation>
      <documentation xml:lang="da-DK">Ydre container-element for svaret fraen forespørgsel for at tilføje en effektuering</documentation>
    </annotation>
  </element>
  <complexType name="CreateEffectuationResponseType">
    <sequence>
      <element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType" />
      <element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType" />
      <element minOccurs="0" name="VersionMismatchWarning" type="medicinecard20150101:VersionMismatchWarningType" />
      <element maxOccurs="unbounded" name="DrugMedication" type="medicinecard20150101:CreatedEffectuationOnDrugMedicationType" />
    </sequence>
  </complexType>
</schema>