Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/CreateDrugMedicationRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="CreateDrugMedication.xsd" />
  <include schemaLocation="Modificator.xsd" />
  <include schemaLocation="MedicineCardVersion.xsd" />
  <include schemaLocation="PersonIdentifier.xsd" />
  <element name="CreateDrugMedicationRequest" type="medicinecard20150101:CreateDrugMedicationRequestType">
    <annotation>
      <documentation xml:lang="en-GB">Outer container element for a request for a request which creates a new drug prescription</documentation>
      <documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der opretter en ny lægemiddelordination</documentation>
    </annotation>
  </element>
  <complexType name="CreateDrugMedicationRequestType">
    <sequence>
      <element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType" />
      <element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType" />
      <element minOccurs="0" name="CreatedBy" type="medicinecard20150101:ModificatorType" />
      <element minOccurs="0" name="ReportedBy" type="medicinecard20150101:ModificatorType" />
      <element maxOccurs="unbounded" name="DrugMedication" type="medicinecard20150101:CreateDrugMedicationType" />
    </sequence>
  </complexType>
</schema>