Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/CreateEffectuationRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="CreateEffectuationOnDrugMedication.xsd" />
  <include schemaLocation="Modificator.xsd" />
  <include schemaLocation="PersonIdentifier.xsd" />
  <include schemaLocation="MedicineCardVersion.xsd" />
  <element name="CreateEffectuationRequest" type="medicinecard20150101:CreateEffectuationRequestType">
    <annotation>
      <documentation xml:lang="en-GB">Outer container element for a request to add a effecutation</documentation>
      <documentation xml:lang="da-DK">Ydre container-element for en forespørgsel for at tilføje en effektuering</documentation>
    </annotation>
  </element>
  <complexType name="CreateEffectuationRequestType">
    <sequence>
      <element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType" />
      <element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType" />
      <element minOccurs="0" name="CreatedBy" type="medicinecard20150101:ModificatorType" />
      <element minOccurs="0" name="ReportedBy" type="medicinecard20150101:ModificatorType" />
      <element maxOccurs="unbounded" name="DrugMedication" type="medicinecard20150101:CreateEffectuationOnDrugMedicationType" />
    </sequence>
  </complexType>
</schema>