Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/CreatePrescriptionMedication.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="Modificator.xsd" />
  <include schemaLocation="AuthorisationDateTime.xsd" />
  <include schemaLocation="CreateDoseDispensedPrescriptionDispensing.xsd" />
  <include schemaLocation="CreateReiteratedPrescriptionDispensing.xsd" />
  <include schemaLocation="CreateSinglePrescriptionDispensing.xsd" />
  <include schemaLocation="CreateSinglePrescriptionDispensing.xsd" />
  <include schemaLocation="Delivery.xsd" />
  <include schemaLocation="DeliveryInformation.xsd" />
  <include schemaLocation="DrugMedicationIdentifier.xsd" />
  <include schemaLocation="OrderInstruction.xsd" />
  <include schemaLocation="OrderedEffectuationIdentifier.xsd" />
  <include schemaLocation="Organisation.xsd" />
  <include schemaLocation="ModificationMetadata.xsd" />
  <include schemaLocation="SystemName.xsd" />
  <element name="CreatePrescriptionMedication" type="medicinecard20150101:CreatePrescriptionMedicationType">
    <annotation>
      <documentation xml:lang="en-GB">Request document for creating a
				PrescriptionMedication from a DrugMedication. When used in the service call where the
				drug medication is created the DrugMedicationIdentifer may be omitted, otherwise it is
				needed.</documentation>
      <documentation xml:lang="da-DK">Request-dokument til at oprette en
				receptordination fra en lægemiddelordination. Når dette element anvendes i servicen
				til oprettelse af en lægemiddelordination udelades DrugMedicationIdentifer, i alle
				andre tilfælde er det nødvendigt.</documentation>
    </annotation>
  </element>
  <complexType name="CreatePrescriptionMedicationType">
    <sequence>
      <element minOccurs="0" name="DrugMedicationIdentifier" type="medicinecard20150101:DrugMedicationIdentifierType" />
      <element minOccurs="0" name="OrderedEffectuationIdentifier" type="medicinecard20150101:OrderedEffectuationIdentifierType" />
      <element minOccurs="0" name="CreatedBy" type="medicinecard20150101:ModificatorType" />
      <element minOccurs="0" name="ModificationMetadata" type="medicinecard20150101:ModificationMetadataType" />
      <element name="AuthorisationDateTime" type="medicinecard20150101:AuthorisationDateTimeType" />
      <element minOccurs="0" name="ReceiverOrganisation" type="medicinecard20150101:OrganisationType" />
      <element name="SystemName" type="medicinecard20150101:SystemNameType" />
      <choice minOccurs="0" maxOccurs="3">
        <element name="DeliveryInformation" type="medicinecard20150101:DeliveryInformationType" />
        <element name="OrderInstruction" type="medicinecard20150101:OrderInstructionType" />
      </choice>
      <element minOccurs="0" name="Delivery" type="medicinecard20150101:DeliveryType" />
      <choice>
        <element name="SinglePrescriptionDispensing" type="medicinecard20150101:CreateSinglePrescriptionDispensingType" />
        <element name="ReiteratedPrescriptionDispensing" type="medicinecard20150101:CreateReiteratedPrescriptionDispensingType" />
        <element name="DoseDispensedDispensing" type="medicinecard20150101:CreateDoseDispensedPrescriptionDispensingType" />
      </choice>
    </sequence>
  </complexType>
</schema>