Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/CreateDrugMedicationResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="PersonIdentifier.xsd" />
  <include schemaLocation="MedicineCardVersion.xsd" />
  <include schemaLocation="VersionMismatchWarning.xsd" />
  <include schemaLocation="CreatedDrugMedication.xsd" />
  <element name="CreateDrugMedicationResponse" type="medicinecard20150101:CreateDrugMedicationResponseType">
    <annotation>
      <documentation xml:lang="en-GB">Outer container element for a response returned on a request which creates a new drug medication</documentation>
      <documentation xml:lang="da-DK">Ydre container-element for et svar returneret på en forespørgsel der opretter en ny lægemiddelordination</documentation>
    </annotation>
  </element>
  <complexType name="CreateDrugMedicationResponseType">
    <sequence>
      <element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType" />
      <element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType" />
      <element minOccurs="0" name="VersionMismatchWarning" type="medicinecard20150101:VersionMismatchWarningType" />
      <element maxOccurs="unbounded" name="DrugMedication" type="medicinecard20150101:CreatedDrugMedicationType" />
    </sequence>
  </complexType>
</schema>