Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/DeleteEffectuationRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="DeleteEffectuation.xsd" />
  <include schemaLocation="Modificator.xsd" />
  <include schemaLocation="MedicineCardVersion.xsd" />
  <include schemaLocation="PersonIdentifier.xsd" />
  <element name="DeleteEffectuationRequest" type="medicinecard20150101:DeleteEffectuationRequestType">
    <annotation>
      <documentation xml:lang="en-GB">Request document containing one or more documents for deleting effectuations</documentation>
      <documentation xml:lang="da-DK">Request-dokument der indeholder en eller flere dokumenter til at slette effektueringer</documentation>
    </annotation>
  </element>
  <complexType name="DeleteEffectuationRequestType">
    <sequence>
      <element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType" />
      <element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType" />
      <element minOccurs="0" name="ModifiedBy" type="medicinecard20150101:ModificatorType" />
      <element minOccurs="0" name="ReportedBy" type="medicinecard20150101:ModificatorType" />
      <element maxOccurs="unbounded" name="Effectuation" type="medicinecard20150101:DeleteEffectuationType" />
    </sequence>
  </complexType>
</schema>