Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/Delivery.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="DeliveryPriority.xsd" />
  <include schemaLocation="StreetName.xsd" />
  <include schemaLocation="PseudoAddress.xsd" />
  <include schemaLocation="PostCode.xsd" />
  <include schemaLocation="ContactName.xsd" />
  <element name="Delivery" type="medicinecard20150101:DeliveryType">
    <annotation>
      <documentation xml:lang="en-GB">Delivery information</documentation>
      <documentation xml:lang="da-DK">Leveringsinformation</documentation>
    </annotation>
  </element>
  <complexType name="DeliveryType">
    <sequence>
      <element name="Priority" type="medicinecard20150101:DeliveryPriorityType" />
      <choice minOccurs="0">
        <element name="StreetName" type="medicinecard20150101:StreetNameType" />
        <element name="PseudoAddress" type="medicinecard20150101:PseudoAddressType" />
      </choice>
      <element minOccurs="0" name="PostCode" type="medicinecard20150101:PostCodeType" />
      <element minOccurs="0" name="ContactName" type="medicinecard20150101:ContactNameType" />
    </sequence>
  </complexType>
</schema>