Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/DetachPrescriptionMedication.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="Modificator.xsd" />
  <include schemaLocation="ModificationMetadata.xsd" />
  <include schemaLocation="PrescriptionMedicationIdentifier.xsd" />
  <element name="DetachPrescriptionMedication" type="medicinecard20150101:DetachPrescriptionMedicationType">
    <annotation>
      <documentation xml:lang="en-GB">Contains one or more drug prescription IDs which are to be attached from the drug medications where they currently are detached</documentation>
      <documentation xml:lang="da-DK">Indeholder en eller flere receptordinations-IDer hvor tilknytningen til lægmidlerne skal ophæves</documentation>
    </annotation>
  </element>
  <complexType name="DetachPrescriptionMedicationType">
    <sequence>
      <element maxOccurs="unbounded" name="Identifier" type="medicinecard20150101:PrescriptionMedicationIdentifierType" />
      <element minOccurs="0" name="ModifiedBy" type="medicinecard20150101:ModificatorType" />
      <element minOccurs="0" name="ModificationMetadata" type="medicinecard20150101:ModificationMetadataType" />
    </sequence>
  </complexType>
</schema>