Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/DosageDay.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="DosageDayNotNumbered.xsd" />
  <include schemaLocation="DosageDayNumber.xsd" />
  <include schemaLocation="Dose.xsd" />
  <element name="DosageDay" type="medicinecard20150101:DosageDayType">
    <annotation>
      <documentation xml:lang="en-GB">Group of dosage times for the same day</documentation>
      <documentation xml:lang="da-DK">Gruppering af doseringstidspunkter på samme dag</documentation>
    </annotation>
  </element>
  <complexType name="DosageDayType">
    <sequence>
      <element name="Number" type="medicinecard20150101:DosageDayNumberType" />
      <sequence>
        <element maxOccurs="unbounded" name="Dose" type="medicinecard20150101:DoseType" />
      </sequence>
    </sequence>
  </complexType>
</schema>