Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/DosageForRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="DosageFreeTextForRequest.xsd" />
  <include schemaLocation="DosageStructuresForRequest.xsd" />
  <include schemaLocation="DosageType.xsd" />
  <include schemaLocation="AdministrationAccordingToSchemaInLocalSystemForRequest.xsd" />
  <element name="Dosage" type="medicinecard20150101:DosageForRequestType">
    <annotation>
      <documentation xml:lang="en-GB">How often and when the drug should be given</documentation>
      <documentation xml:lang="da-DK">Angivelse af hvor ofte og hvornår et lægemiddel skal gives</documentation>
    </annotation>
  </element>
  <complexType name="DosageForRequestType">
    <sequence>
      <choice>
        <element name="Structures" type="medicinecard20150101:DosageStructuresForRequestType" />
        <element name="FreeText" type="medicinecard20150101:DosageFreeTextForRequestType" />
        <element name="AdministrationAccordingToSchemaInLocalSystem" type="medicinecard20150101:AdministrationAccordingToSchemaInLocalSystemForRequestType" />
      </choice>
      <element minOccurs="0" name="Type" type="medicinecard20150101:DosageTypeType" />
    </sequence>
  </complexType>
</schema>