Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/DosageFreeTextForRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="DosageFreeTextText.xsd" />
  <include schemaLocation="DosageTimesDosageEndingUndetermined.xsd" />
  <include schemaLocation="DosageTimesEndDate.xsd" />
  <include schemaLocation="DosageTimesStartDate.xsd" />
  <element name="DosageFreeTextForRequest" type="medicinecard20150101:DosageFreeTextForRequestType">
    <annotation>
      <documentation xml:lang="en-GB">Free text for dosage</documentation>
      <documentation xml:lang="da-DK">Fritekst for dosering</documentation>
    </annotation>
  </element>
  <complexType name="DosageFreeTextForRequestType">
    <sequence>
      <choice>
        <element name="StartDate" type="medicinecard20150101:DosageTimesStartDateType" />
      </choice>
      <choice>
        <element name="EndDate" type="medicinecard20150101:DosageTimesEndDateType" />
        <element name="DosageEndingUndetermined" type="medicinecard20150101:DosageTimesDosageEndingUndeterminedType" />
      </choice>
      <element name="Text" type="medicinecard20150101:DosageFreeTextTextType" />
    </sequence>
  </complexType>
</schema>