Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/DosageAnyDay.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="DoseForAnyDay.xsd" />
  <element name="AnyDosageDay" type="medicinecard20150101:DosageAnyDayType">
    <annotation>
      <documentation xml:lang="en-GB">Group of dosage times for the same day</documentation>
      <documentation xml:lang="da-DK">Gruppering af doseringstidspunkter på samme dag</documentation>
    </annotation>
  </element>
  <complexType name="DosageAnyDayType">
    <sequence>
      <sequence>
        <element maxOccurs="unbounded" name="Dose" type="medicinecard20150101:DoseForAnyDayType" />
      </sequence>
    </sequence>
  </complexType>
</schema>