Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/DosageCode.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="Source.xsd" />
  <include schemaLocation="SourceDate.xsd" />
  <include schemaLocation="SourceYearAndWeek.xsd" />
  <element name="DosageCode" type="medicinecard20150101:DosageCodeType">
    <annotation>
      <documentation xml:lang="en-GB">Code for dosage. In FMK only used on prescriptions, otherwise structured dosages in the Dosage element is used</documentation>
      <documentation xml:lang="da-DK">Kode for dosering. I FMK kun brugt på recepter, ellers anvendes strukturerede doseringer i Dosage-elementet</documentation>
    </annotation>
  </element>
  <complexType name="DosageCodeType">
    <simpleContent>
      <extension base="medicinecard20150101:DosageCodeValueType">
        <attribute name="source" type="medicinecard20150101:DosageCodeSourceType" use="required" />
        <attribute name="date" type="medicinecard20150101:SourceDateType" use="optional" />
        <attribute name="yearAndWeek" type="medicinecard20150101:SourceYearAndWeekType" use="optional" />
      </extension>
    </simpleContent>
  </complexType>
  <simpleType name="DosageCodeValueType">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="8" />
    </restriction>
  </simpleType>
  <simpleType name="DosageCodeSourceType">
    <union memberTypes="medicinecard20150101:DosageCodePredefinedSourceType medicinecard20150101:UndefinedSourceType" />
  </simpleType>
  <simpleType name="DosageCodePredefinedSourceType">
    <restriction base="medicinecard20150101:UndefinedSourceType">
      <enumeration value="Medicinpriser" />
    </restriction>
  </simpleType>
</schema>