Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/DosageForResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="DosageFreeTextForResponse.xsd" />
  <include schemaLocation="DosageStructuresForResponse.xsd" />
  <include schemaLocation="DosageType.xsd" />
  <include schemaLocation="AdministrationAccordingToSchemaInLocalSystemForResponse.xsd" />
  <element name="DosageForResponse" type="medicinecard20150101:DosageForResponseType">
    <annotation>
      <documentation xml:lang="en-GB">How often and when the drug should be given</documentation>
      <documentation xml:lang="da-DK">Angivelse af hvor ofte og hvornår et lægemiddel skal gives</documentation>
    </annotation>
  </element>
  <complexType name="DosageForResponseType">
    <sequence>
      <choice>
        <element name="Structures" type="medicinecard20150101:DosageStructuresForResponseType" />
        <element name="FreeText" type="medicinecard20150101:DosageFreeTextForResponseType" />
        <element name="AdministrationAccordingToSchemaInLocalSystem" type="medicinecard20150101:AdministrationAccordingToSchemaInLocalSystemForResponseType" />
      </choice>
      <element name="Type" type="medicinecard20150101:DosageTypeType" />
    </sequence>
  </complexType>
</schema>