Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/Dose.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="DoseTime.xsd" />
  <include schemaLocation="DoseQuantity.xsd" />
  <include schemaLocation="IsAccordingToNeed.xsd" />
  <element name="Dose" type="medicinecard20150101:DoseType">
    <annotation>
      <documentation xml:lang="en-GB">Description of a dose element, when and how much</documentation>
      <documentation xml:lang="da-DK">Beskrivelse af en dosis på et givet stidspunkt, hvornår og hvor meget</documentation>
    </annotation>
  </element>
  <complexType name="DoseType">
    <sequence>
      <element minOccurs="0" name="Time" type="medicinecard20150101:DoseTimeType" />
      <choice>
        <element name="Quantity" type="medicinecard20150101:DoseQuantityType" />
        <sequence>
          <element name="MinimalQuantity" type="medicinecard20150101:DoseQuantityType" />
          <element name="MaximalQuantity" type="medicinecard20150101:DoseQuantityType" />
        </sequence>
      </choice>
      <element minOccurs="0" name="IsAccordingToNeed" type="medicinecard20150101:IsAccordingToNeedType" />
    </sequence>
  </complexType>
</schema>