Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/DrugMedication.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="Created.xsd" />
  <include schemaLocation="DosageForResponse.xsd" />
  <include schemaLocation="FollowUpDates.xsd" />
  <include schemaLocation="Drug.xsd" />
  <include schemaLocation="Effectuation.xsd" />
  <include schemaLocation="Modified.xsd" />
  <include schemaLocation="Paused.xsd" />
  <include schemaLocation="PrescriptionMedication.xsd" />
  <include schemaLocation="Withdrawn.xsd" />
  <include schemaLocation="InvalidEffectuation.xsd" />
  <include schemaLocation="InvalidPrescriptionMedication.xsd" />
  <include schemaLocation="DrugMedicationBeginEndDate.xsd" />
  <include schemaLocation="DrugMedicationIdentifier.xsd" />
  <include schemaLocation="DrugMedicationVersion.xsd" />
  <include schemaLocation="HasNegativeConsent.xsd" />
  <include schemaLocation="HasNegativeConsent.xsd" />
  <include schemaLocation="RouteOfAdministration.xsd" />
  <include schemaLocation="ReimbursementClause.xsd" />
  <element name="DrugMedication" type="medicinecard20150101:DrugMedicationType">
    <annotation>
      <documentation xml:lang="en-GB">An overview of the drug medication (a medication on the medicine card)</documentation>
      <documentation xml:lang="da-DK">En oversigt over lægemiddelordination (en ordination på medicinkortet)</documentation>
    </annotation>
  </element>
  <complexType name="DrugMedicationType">
    <sequence>
      <element name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType" />
      <element name="Version" type="medicinecard20150101:DrugMedicationVersionType" />
      <element minOccurs="0" maxOccurs="unbounded" name="PreviousVersion" type="medicinecard20150101:DrugMedicationVersionType" />
      <element minOccurs="0" maxOccurs="unbounded" name="NextVersion" type="medicinecard20150101:DrugMedicationVersionType" />
      <element minOccurs="0" name="ParentIdentifier" type="medicinecard20150101:DrugMedicationIdentifierType" />
      <element name="Created" type="medicinecard20150101:CreatedType" />
      <element minOccurs="0" name="ReportedBy" type="medicinecard20150101:ModificatorType" />
      <element minOccurs="0" name="Modified" type="medicinecard20150101:ModifiedType" />
      <element minOccurs="0" name="FollowUpDates" type="medicinecard20150101:FollowUpDatesType" />
      <element minOccurs="0" name="Paused" type="medicinecard20150101:PausedType" />
      <element minOccurs="0" name="Withdrawn" type="medicinecard20150101:WithdrawnType" />
      <element minOccurs="0" name="HasNegativeConsent" type="medicinecard20150101:HasNegativeConsentType" />
      <element name="BeginEndDate" type="medicinecard20150101:DrugMedicationBeginEndDateType" />
      <element name="Indication" type="medicinecard20150101:IndicationType" />
      <element name="RouteOfAdministration" type="medicinecard20150101:RouteOfAdministrationType" />
      <element name="Drug" type="medicinecard20150101:DrugType" />
      <element name="Dosage" type="medicinecard20150101:DosageForResponseType" />
      <element minOccurs="0" name="SubstitutionAllowed" type="medicinecard20150101:SubstitutionAllowedType" />
      <element minOccurs="0" maxOccurs="unbounded" name="Effectuation" type="medicinecard20150101:EffectuationType" />
      <element minOccurs="0" maxOccurs="unbounded" name="InvalidEffectuation" type="medicinecard20150101:InvalidEffectuationType" />
      <element minOccurs="0" maxOccurs="unbounded" name="PrescriptionMedication" type="medicinecard20150101:PrescriptionMedicationType" />
      <element minOccurs="0" maxOccurs="unbounded" name="InvalidPrescriptionMedication" type="medicinecard20150101:InvalidPrescriptionMedicationType" />
      <element minOccurs="0" name="ReimbursementClause" type="medicinecard20150101:ReimbursementClauseType" />
    </sequence>
  </complexType>
</schema>