Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/DrugFormCode.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="Source.xsd" />
  <include schemaLocation="SourceDate.xsd" />
  <include schemaLocation="SourceYearAndWeek.xsd" />
  <element name="DrugFormCode" type="medicinecard20150101:DrugFormCodeType">
    <annotation>
      <documentation xml:lang="en-GB">Code for drug form. Source: LMS22 field 1</documentation>
      <documentation xml:lang="da-DK">Kode for lægemiddelform. Kilde: LMS22 felt 1</documentation>
    </annotation>
  </element>
  <complexType name="DrugFormCodeType">
    <simpleContent>
      <extension base="medicinecard20150101:DrugFormCodeValueType">
        <attribute name="source" type="medicinecard20150101:DrugFormCodeSourceType" use="required" />
        <attribute name="date" type="medicinecard20150101:SourceDateType" use="optional" />
        <attribute name="yearAndWeek" type="medicinecard20150101:SourceYearAndWeekType" use="optional" />
      </extension>
    </simpleContent>
  </complexType>
  <simpleType name="DrugFormCodeValueType">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="7" />
    </restriction>
  </simpleType>
  <simpleType name="DrugFormCodeSourceType">
    <union memberTypes="medicinecard20150101:DrugFormCodePredefinedSourceType medicinecard20150101:UndefinedSourceType" />
  </simpleType>
  <simpleType name="DrugFormCodePredefinedSourceType">
    <restriction base="medicinecard20150101:UndefinedSourceType">
      <enumeration value="Medicinpriser" />
    </restriction>
  </simpleType>
</schema>