Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/DrugMedicationIdentifierAndDateTime.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="DrugMedicationIdentifier.xsd" />
  <include schemaLocation="DrugMedicationVersion.xsd" />
  <include schemaLocation="ModifiedDateTime.xsd" />
  <element name="DrugMedicationIdentifierAndDateTime" type="medicinecard20150101:DrugMedicationIdentifierAndDateTimeType">
    <annotation>
      <documentation xml:lang="en-GB">Contains ID and version number for a drug medication</documentation>
      <documentation xml:lang="da-DK">Indeholder ID og versionsnummer for en lægemiddelordination</documentation>
    </annotation>
  </element>
  <complexType name="DrugMedicationIdentifierAndDateTimeType">
    <sequence>
      <element name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType" />
      <element name="DateTime" type="medicinecard20150101:ModifiedDateTimeType" />
    </sequence>
  </complexType>
</schema>