Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/DrugMedicationWithNegativeConsent.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="DrugMedicationIdentifier.xsd" />
  <include schemaLocation="DrugMedicationVersion.xsd" />
  <element name="DrugMedicationWithNegativeConsent" type="medicinecard20150101:DrugMedicationWithNegativeConsentType">
    <annotation>
      <documentation xml:lang="en-GB">This structure contains drug medication identifiers and version for drug medications with negative consent.</documentation>
      <documentation xml:lang="da-DK">Denne struktur indeholder drug id'er og version for lægemiddelordinationer med negativt samtykke.</documentation>
    </annotation>
  </element>
  <complexType name="DrugMedicationWithNegativeConsentType">
    <sequence>
      <element name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType" />
      <element name="Version" type="medicinecard20150101:DrugMedicationVersionType" />
    </sequence>
  </complexType>
</schema>