Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/DrugForm.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="DrugFormText.xsd" />
  <include schemaLocation="DrugFormCode.xsd" />
  <element name="DrugForm" type="medicinecard20150101:DrugFormType">
    <annotation>
      <documentation xml:lang="en-GB">Drug form, code and text</documentation>
      <documentation xml:lang="da-DK">Lægemiddelform, kode og tekst</documentation>
    </annotation>
  </element>
  <complexType name="DrugFormType">
    <sequence>
      <element name="Code" type="medicinecard20150101:DrugFormCodeType" />
      <element name="Text" type="medicinecard20150101:DrugFormTextType" />
    </sequence>
  </complexType>
</schema>