Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/DrugStrengthUnitCode.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="Source.xsd" />
  <include schemaLocation="SourceDate.xsd" />
  <include schemaLocation="SourceYearAndWeek.xsd" />
  <element name="DrugStrengthUnitCode" type="medicinecard20150101:DrugStrengthUnitCodeType">
    <annotation>
      <documentation xml:lang="en-GB">Unit for drug strength, code (LMS15 field 2)</documentation>
      <documentation xml:lang="da-DK">Enhed for lægemiddelstyrke, kode (LMS15 felt 2)</documentation>
    </annotation>
  </element>
  <complexType name="DrugStrengthUnitCodeType">
    <simpleContent>
      <extension base="medicinecard20150101:DrugStrengthUnitCodeValueType">
        <attribute name="source" type="medicinecard20150101:DrugStrengthUnitCodeSourceType" use="required" />
        <attribute name="date" type="medicinecard20150101:SourceDateType" use="optional" />
        <attribute name="yearAndWeek" type="medicinecard20150101:SourceYearAndWeekType" use="optional" />
      </extension>
    </simpleContent>
  </complexType>
  <simpleType name="DrugStrengthUnitCodeValueType">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="3" />
    </restriction>
  </simpleType>
  <simpleType name="DrugStrengthUnitCodeSourceType">
    <union memberTypes="medicinecard20150101:DrugStrengthUnitCodePredefinedSourceType medicinecard20150101:UndefinedSourceType" />
  </simpleType>
  <simpleType name="DrugStrengthUnitCodePredefinedSourceType">
    <restriction base="medicinecard20150101:UndefinedSourceType">
      <enumeration value="Medicinpriser" />
    </restriction>
  </simpleType>
</schema>