Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/Effectuation.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="Created.xsd" />
  <include schemaLocation="Drug.xsd" />
  <include schemaLocation="Modificator.xsd" />
  <include schemaLocation="DosageQuantityUnitText.xsd" />
  <include schemaLocation="DoseQuantity.xsd" />
  <include schemaLocation="EffectuationDateTime.xsd" />
  <include schemaLocation="EffectuationIdentifier.xsd" />
  <include schemaLocation="EffectuationMethod.xsd" />
  <include schemaLocation="IsEffectuatedAccordingToDrugMedication.xsd" />
  <include schemaLocation="PackageNumber.xsd" />
  <include schemaLocation="PackageSize.xsd" />
  <include schemaLocation="PackageQuantity.xsd" />
  <element name="Effectuation" type="medicinecard20150101:EffectuationType">
    <annotation>
      <documentation xml:lang="en-GB">The actual effectuation of the drug medication. It could be to administer the drug into the patient or that a doctor hands medication out to the patient</documentation>
      <documentation xml:lang="da-DK">Den faktiske udførelse af lægemiddelordination. Det kan f.eks. være at indgive medicin i patienten, eller at en læge eller apoteket udleverer medicin til patienten</documentation>
    </annotation>
  </element>
  <complexType name="EffectuationType">
    <sequence>
      <element name="Identifier" type="medicinecard20150101:EffectuationIdentifierType" />
      <element name="DateTime" type="medicinecard20150101:EffectuationDateTimeType" />
      <element minOccurs="0" name="EffectuationMethod" type="medicinecard20150101:EffectuationMethodType" />
      <element name="Created" type="medicinecard20150101:CreatedType" />
      <element minOccurs="0" name="ReportedBy" type="medicinecard20150101:ModificatorType" />
      <choice>
        <sequence>
          <element name="DoseQuantity" type="medicinecard20150101:DoseQuantityType" />
          <element name="DosageQuantityUnitText" type="medicinecard20150101:DosageQuantityUnitTextType" />
          <element name="Drug" type="medicinecard20150101:DrugType" />
        </sequence>
        <sequence>
          <element name="Drug" type="medicinecard20150101:DrugType" />
        </sequence>
        <sequence>
          <element minOccurs="0" name="PackageQuantity" type="medicinecard20150101:PackageQuantityType" />
          <element name="PackageNumber" type="medicinecard20150101:PackageNumberType" />
          <element minOccurs="0" name="PackageSize" type="medicinecard20150101:PackageSizeType" />
          <element minOccurs="0" name="Drug" type="medicinecard20150101:DrugType" />
        </sequence>
        <element name="IsEffectuatedAccordingToDrugMedication" type="medicinecard20150101:IsEffectuatedAccordingToDrugMedicationType" />
      </choice>
    </sequence>
  </complexType>
</schema>