Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/EmptyDosageStructure.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="DosageTimesDosageEndingUndetermined.xsd" />
  <include schemaLocation="DosageTimesEndDate.xsd" />
  <include schemaLocation="DosageTimesStartDate.xsd" />
  <element name="EmptyDosageStructure" type="medicinecard20150101:EmptyDosageStructureType">
    <annotation>
      <documentation xml:lang="en-GB">Description of an interval in the treatment where the drug is not given</documentation>
      <documentation xml:lang="da-DK">Beskrivelse af en periode i behandlingen hvor lægemidlet ikke gives</documentation>
    </annotation>
  </element>
  <complexType name="EmptyDosageStructureType">
    <sequence>
      <choice>
        <element name="StartDate" type="medicinecard20150101:DosageTimesStartDateType" />
      </choice>
      <choice>
        <element name="EndDate" type="medicinecard20150101:DosageTimesEndDateType" />
        <element name="DosageEndingUndetermined" type="medicinecard20150101:DosageTimesDosageEndingUndeterminedType" />
      </choice>
    </sequence>
  </complexType>
</schema>