Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/FaultDetails.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="KeyValueSet.xsd" />
  <element name="FaultDetails" type="medicinecard20150101:FaultDetailsType">
    <annotation>
      <documentation xml:lang="en-GB">Set of keys and values</documentation>
      <documentation xml:lang="da-DK">Liste af key value par som beskriver detaljer for fejlen</documentation>
    </annotation>
  </element>
  <complexType name="FaultDetailsType">
    <sequence>
      <element maxOccurs="unbounded" name="KeyValueSet" type="medicinecard20150101:KeyValueSetType" />
    </sequence>
  </complexType>
</schema>