Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/FMKDetail.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="FaultDetails.xsd" />
  <element name="FMKDetail">
    <complexType>
      <sequence>
        <element name="FaultCode" type="string" />
        <element name="FaultText" type="string" />
        <element name="FaultDetails" type="medicinecard20150101:FaultDetailsType" />
      </sequence>
    </complexType>
  </element>
</schema>