Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/GetCallersPermissionsToPerson.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="PersonIdentifier.xsd" />
  <element name="GetCallersPermissionsToPerson" type="medicinecard20150101:GetCallersPermissionsToPersonType">
    <annotation>
      <documentation xml:lang="da-DK">Forespørgsel på rettigheder til person</documentation>
    </annotation>
  </element>
  <complexType name="GetCallersPermissionsToPersonType">
    <sequence>
      <element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType" />
    </sequence>
  </complexType>
</schema>