Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/GetDrugMedicationVersionsRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="PersonIdentifier.xsd" />
  <include schemaLocation="DrugMedicationIdentifier.xsd" />
  <element name="GetDrugMedicationVersionsRequest" type="medicinecard20150101:GetDrugMedicationVersionsRequestType">
    <annotation>
      <documentation xml:lang="en-GB">Outer container element for a request for all the versionnumbers of a drug medication</documentation>
      <documentation xml:lang="da-DK">Ydre container-element for en forespørgsel efter alle versionsnumre for en lægemiddelordination</documentation>
    </annotation>
  </element>
  <complexType name="GetDrugMedicationVersionsRequestType">
    <sequence>
      <element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType" />
      <element name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType" />
    </sequence>
  </complexType>
</schema>