Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/GetDrugMedicationHistoryResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="PersonIdentifier.xsd" />
  <include schemaLocation="DrugMedicationIdentifier.xsd" />
  <include schemaLocation="DrugMedicationHistory.xsd" />
  <element name="GetDrugMedicationHistoryResponse" type="medicinecard20150101:GetDrugMedicationHistoryResponseType">
    <annotation>
      <documentation xml:lang="en-GB">Element for a response with the history of a drug medcination</documentation>
      <documentation xml:lang="da-DK">Element for et svar med en eller flere lægemiddelordinationer</documentation>
    </annotation>
  </element>
  <complexType name="GetDrugMedicationHistoryResponseType">
    <sequence>
      <element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType" />
      <element name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType" />
      <element name="History" type="medicinecard20150101:DrugMedicationHistoryType" />
    </sequence>
  </complexType>
</schema>