Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/GetDrugMedicationHistoryRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="PersonIdentifier.xsd" />
  <include schemaLocation="DrugMedicationIdentifier.xsd" />
  <include schemaLocation="NegativeConsentRequest.xsd" />
  <element name="GetDrugMedicationHistoryRequest" type="medicinecard20150101:GetDrugMedicationHistoryRequestType">
    <annotation>
      <documentation xml:lang="en-GB">Element for a request for the history of a drug medication</documentation>
      <documentation xml:lang="da-DK">Element for en forespørgsel efter historikken for en lægemiddelordination</documentation>
    </annotation>
  </element>
  <complexType name="GetDrugMedicationHistoryRequestType">
    <sequence>
      <element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType" />
      <element name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType" />
      <element minOccurs="0" name="NegativeConsent" type="medicinecard20150101:NegativeConsentRequestType" />
    </sequence>
  </complexType>
</schema>