Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/GetMedicineCardVersionsRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="PersonIdentifier.xsd" />
  <element name="GetMedicineCardVersionsRequest" type="medicinecard20150101:GetMedicineCardVersionsRequestType">
    <annotation>
      <documentation xml:lang="en-GB">Outer container element for a request for all the versionnumbers of a medicinecard</documentation>
      <documentation xml:lang="da-DK">Ydre container-element for en forespørgsel efter alle versionsnumre for et medicinkorts</documentation>
    </annotation>
  </element>
  <complexType name="GetMedicineCardVersionsRequestType">
    <sequence>
      <element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType" />
    </sequence>
  </complexType>
</schema>