Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/GetMedicineCardResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="MedicineCard.xsd" />
  <element name="GetMedicineCardResponse" type="medicinecard20150101:GetMedicineCardResponseType">
    <annotation>
      <documentation xml:lang="en-GB">Outer container element for a response with a medicinecard</documentation>
      <documentation xml:lang="da-DK">Ydre container-element for en et svar med et medicinkort</documentation>
    </annotation>
  </element>
  <complexType name="GetMedicineCardResponseType">
    <sequence>
      <element maxOccurs="unbounded" name="MedicineCard" type="medicinecard20150101:MedicineCardType" />
    </sequence>
  </complexType>
</schema>