Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/GetMedicineCardVersionResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="PersonIdentifier.xsd" />
  <include schemaLocation="MedicineCardVersion.xsd" />
  <include schemaLocation="MedicineCardInformationChange.xsd" />
  <element name="GetMedicineCardVersionResponse" type="medicinecard20150101:GetMedicineCardVersionResponseType">
    <annotation>
      <documentation xml:lang="en-GB">Outer container element for a response for a medicinecards version</documentation>
      <documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel efter et medicinkorts version</documentation>
    </annotation>
  </element>
  <complexType name="GetMedicineCardVersionResponseType">
    <sequence>
      <element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType" />
      <element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType" />
      <element minOccurs="0" maxOccurs="unbounded" name="MedicineCardInformationChange" type="medicinecard20150101:MedicineCardInformationChangeType" />
    </sequence>
  </complexType>
</schema>