Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/InvalidPrescriptionMedication.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="PrescriptionMedicationIdentifier.xsd" />
  <element name="InvalidPrescriptionMedication" type="medicinecard20150101:InvalidPrescriptionMedicationType">
    <annotation>
      <documentation xml:lang="en-GB">An invalid prescription medication</documentation>
      <documentation xml:lang="da-DK">En ugyldig receptordination</documentation>
    </annotation>
  </element>
  <complexType name="InvalidPrescriptionMedicationType">
    <sequence>
      <element name="Identifier" type="medicinecard20150101:PrescriptionMedicationIdentifierType" />
    </sequence>
  </complexType>
</schema>