Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/InvalidEffectuation.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="EffectuationIdentifier.xsd" />
  <element name="InvalidEffectuation" type="medicinecard20150101:InvalidEffectuationType">
    <annotation>
      <documentation xml:lang="en-GB">An invalid effectuation</documentation>
      <documentation xml:lang="da-DK">En ugyldig effektuering</documentation>
    </annotation>
  </element>
  <complexType name="InvalidEffectuationType">
    <sequence>
      <element name="Identifier" type="medicinecard20150101:EffectuationIdentifierType" />
    </sequence>
  </complexType>
</schema>