Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/InvalidDrugMedication.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="DrugMedicationIdentifier.xsd" />
  <element name="InvalidDrugMedication" type="medicinecard20150101:InvalidDrugMedicationType">
    <annotation>
      <documentation xml:lang="en-GB">An invalid drug medication</documentation>
      <documentation xml:lang="da-DK">En ugyldig lægemiddelordination</documentation>
    </annotation>
  </element>
  <complexType name="InvalidDrugMedicationType">
    <sequence>
      <element name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType" />
    </sequence>
  </complexType>
</schema>