Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/MarkPrescriptionMedicationDeprecatedResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="PersonIdentifier.xsd" />
  <include schemaLocation="MedicineCardVersion.xsd" />
  <include schemaLocation="VersionMismatchWarning.xsd" />
  <element name="MarkPrescriptionMedicationDeprecatedResponse" type="medicinecard20150101:MarkPrescriptionMedicationDeprecatedResponseType">
    <annotation>
      <documentation xml:lang="en-GB">Mark the prescription medication as deprecated</documentation>
      <documentation xml:lang="da-DK">Marker receptordinationen som ikke aktuel</documentation>
    </annotation>
  </element>
  <complexType name="MarkPrescriptionMedicationDeprecatedResponseType">
    <sequence>
      <sequence>
        <element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType" />
        <element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType" />
        <element minOccurs="0" name="VersionMismatchWarning" type="medicinecard20150101:VersionMismatchWarningType" />
      </sequence>
    </sequence>
  </complexType>
</schema>