Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/MarkPrescriptionMedicationDeprecatedRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="MarkPrescriptionMedicationDeprecated.xsd" />
  <include schemaLocation="Modificator.xsd" />
  <include schemaLocation="MedicineCardVersion.xsd" />
  <include schemaLocation="PersonIdentifier.xsd" />
  <element name="MarkPrescriptionMedicationDeprecatedRequest" type="medicinecard20150101:MarkPrescriptionMedicationDeprecatedRequestType">
    <annotation>
      <documentation xml:lang="en-GB">Mark one or more prescription medications as no longer relevant</documentation>
      <documentation xml:lang="da-DK">Marker at en eller flere receptordinationer ikke længere er relevante</documentation>
    </annotation>
  </element>
  <complexType name="MarkPrescriptionMedicationDeprecatedRequestType">
    <sequence>
      <element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType" />
      <element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType" />
      <element minOccurs="0" name="ModifiedBy" type="medicinecard20150101:ModificatorType" />
      <element minOccurs="0" name="ReportedBy" type="medicinecard20150101:ModificatorType" />
      <element maxOccurs="unbounded" name="PrescriptionMedication" type="medicinecard20150101:MarkPrescriptionMedicationDeprecatedType" />
    </sequence>
  </complexType>
</schema>