Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/MarkPrescriptionMedicationDeprecated.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="Modificator.xsd" />
  <include schemaLocation="ModificationMetadata.xsd" />
  <include schemaLocation="PrescriptionMedicationIdentifier.xsd" />
  <element name="MarkPrescriptionMedicationDeprecated" type="medicinecard20150101:MarkPrescriptionMedicationDeprecatedType">
    <annotation>
      <documentation xml:lang="en-GB">For use in bulk service: Mark one or more prescription medications as no longer relevant</documentation>
      <documentation xml:lang="da-DK">Til brug i bulk service: Marker at en eller flere receptordinationer ikke længere er relevante</documentation>
    </annotation>
  </element>
  <complexType name="MarkPrescriptionMedicationDeprecatedType">
    <sequence>
      <element name="Identifier" type="medicinecard20150101:PrescriptionMedicationIdentifierType" />
      <element minOccurs="0" name="ModifiedBy" type="medicinecard20150101:ModificatorType" />
      <element minOccurs="0" name="ModificationMetadata" type="medicinecard20150101:ModificationMetadataType" />
    </sequence>
  </complexType>
</schema>