Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/MedicineCardVersionInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="MedicineCardVersion.xsd" />
  <include schemaLocation="VersionCreatedDateTime.xsd" />
  <element name="MedicineCardVersionInfo" type="medicinecard20150101:MedicineCardVersionInfoType">
    <annotation>
      <documentation xml:lang="en-GB">Versionnumber and created datetime for a specific medicinecard version</documentation>
      <documentation xml:lang="da-DK">Versionsnummer og oprettet dato og tid for en specifik medicinkort version</documentation>
    </annotation>
  </element>
  <complexType name="MedicineCardVersionInfoType">
    <sequence>
      <element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType" />
      <element minOccurs="0" name="VersionCreatedDateTime" type="medicinecard20150101:VersionCreatedDateTimeType" />
    </sequence>
  </complexType>
</schema>