Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/ModificationMetadata.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <attribute name="ModificationMetadata" type="medicinecard20150101:ModificationMetadataType">
    <annotation>
      <documentation xml:lang="en-GB">Modification medtadata</documentation>
    </annotation>
  </attribute>
  <simpleType name="ModificationMetadataType">
    <union memberTypes="medicinecard20150101:PredefinedModificationMetadataType medicinecard20150101:BaseModificationMetadataType" />
  </simpleType>
  <simpleType name="PredefinedModificationMetadataType">
    <restriction base="medicinecard20150101:BaseModificationMetadataType">
      <enumeration value="Override clinical validation" />
    </restriction>
  </simpleType>
  <simpleType name="BaseModificationMetadataType">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="200" />
    </restriction>
  </simpleType>
</schema>