Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/Modified.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="Modificator.xsd" />
  <include schemaLocation="ModifiedDateTime.xsd" />
  <element name="Modified" type="medicinecard20150101:ModifiedType">
    <annotation>
      <documentation xml:lang="en-GB">Element containing information about which organisation and possibly doctor who last modified the document this element is in (e.g. medicine card, drug prescription) as well as the date it ocurred.</documentation>
      <documentation xml:lang="da-DK">Element der indeholder information omkring hvilken organisation og muligvis læge som sidst har ændret dokumentet elementet befinder sig i (f.eks. medicnkort, lægemiddelordination), desuden datoen dette er sket.</documentation>
    </annotation>
  </element>
  <complexType name="ModifiedType">
    <sequence>
      <element name="By" type="medicinecard20150101:ModificatorType" />
      <element name="DateTime" type="medicinecard20150101:ModifiedDateTimeType" />
    </sequence>
  </complexType>
</schema>