Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/OrganisationIdentifier.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="Source.xsd" />
  <element name="OrganisationIdentifier" type="medicinecard20150101:OrganisationIdentifierType">
    <annotation>
      <documentation xml:lang="en-GB">Number or code identifying an organisation</documentation>
      <documentation xml:lang="da-DK">Nummer eller kode der identificerer en organisation</documentation>
    </annotation>
  </element>
  <complexType name="OrganisationIdentifierType">
    <simpleContent>
      <extension base="medicinecard20150101:OrganisationIdentifierValueType">
        <attribute name="source" type="medicinecard20150101:OrganisationIdentifierSourceType" use="required" />
      </extension>
    </simpleContent>
  </complexType>
  <simpleType name="OrganisationIdentifierValueType">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="200" />
    </restriction>
  </simpleType>
  <simpleType name="OrganisationIdentifierSourceType">
    <union memberTypes="medicinecard20150101:OrganisationIdentifierPredefinedSourceType medicinecard20150101:UndefinedSourceType" />
  </simpleType>
  <simpleType name="OrganisationIdentifierPredefinedSourceType">
    <restriction base="medicinecard20150101:UndefinedSourceType">
      <enumeration value="SKS" />
      <enumeration value="Yder" />
      <enumeration value="EAN-Lokationsnummer" />
      <enumeration value="CVR" />
      <enumeration value="CVR-P" />
      <enumeration value="Kommunekode" />
      <enumeration value="SOR" />
    </restriction>
  </simpleType>
</schema>