Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/OrganisationType.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="OrganisationType" type="medicinecard20150101:OrganisationTypeType">
    <annotation>
      <documentation xml:lang="en-GB">The type of organisation</documentation>
      <documentation xml:lang="da-DK">Typen af organisation</documentation>
    </annotation>
  </element>
  <simpleType name="OrganisationTypeType">
    <union memberTypes="medicinecard20150101:PredefinedOrganisationTypeType medicinecard20150101:UndefinedOrganisationTypeType" />
  </simpleType>
  <simpleType name="PredefinedOrganisationTypeType">
    <restriction base="medicinecard20150101:UndefinedOrganisationTypeType">
      <enumeration value="Sygehus" />
      <enumeration value="Yder" />
      <enumeration value="Apotek" />
      <enumeration value="Kommune" />
      <enumeration value="Administrator" />
    </restriction>
  </simpleType>
  <simpleType name="UndefinedOrganisationTypeType">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="100" />
    </restriction>
  </simpleType>
</schema>