Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/PatientOrganisationRelation.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="Modificator.xsd" />
  <include schemaLocation="PatientOrganisationRelationType.xsd" />
  <include schemaLocation="Organisation.xsd" />
  <include schemaLocation="PatientOrganisationRelationIdentifier.xsd" />
  <element name="PatientOrganisationRelation" type="medicinecard20150101:PatientOrganisationRelationType">
    <annotation>
      <documentation xml:lang="en-GB">A relation between a patient and an organisation</documentation>
      <documentation xml:lang="da-DK">Registrering af en relation mellem en patient og en organisation</documentation>
    </annotation>
  </element>
  <complexType name="PatientOrganisationRelationType">
    <sequence>
      <element name="Identifier" type="medicinecard20150101:PatientOrganisationRelationIdentifierType" />
      <element name="CreatedBy" type="medicinecard20150101:ModificatorType" />
      <element minOccurs="0" name="ReportedBy" type="medicinecard20150101:ModificatorType" />
      <element name="Organisation" type="medicinecard20150101:OrganisationType" />
      <element name="Type" type="medicinecard20150101:PatientOrganisationRelationTypeType" />
    </sequence>
  </complexType>
</schema>