Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/PatientWithoutCPR.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="SimplePersonWithoutCPR.xsd" />
  <include schemaLocation="Address.xsd" />
  <element name="PatientWithoutCPR" type="medicinecard20150101:PatientWithoutCPRType">
    <annotation>
      <documentation xml:lang="en-GB">Information about a patient without known CPR</documentation>
      <documentation xml:lang="da-DK">Patientoplysninger for en person uden kendt CPR</documentation>
    </annotation>
  </element>
  <complexType name="PatientWithoutCPRType">
    <sequence>
      <element name="Person" type="medicinecard20150101:SimplePersonWithoutCPRType" />
      <element minOccurs="0" name="Address" type="medicinecard20150101:AddressType" />
    </sequence>
  </complexType>
</schema>