Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/PauseDrugMedication.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="Modificator.xsd" />
  <include schemaLocation="DrugMedicationIdentifier.xsd" />
  <include schemaLocation="ModificationMetadata.xsd" />
  <include schemaLocation="PausedFromDate.xsd" />
  <include schemaLocation="PausedFromDateTime.xsd" />
  <include schemaLocation="PausedToDate.xsd" />
  <include schemaLocation="PausedToDateTime.xsd" />
  <element name="PauseDrugMedication" type="medicinecard20150101:PauseDrugMedicationType">
    <annotation>
      <documentation xml:lang="en-GB">Element for a request to pause a drugmedication</documentation>
      <documentation xml:lang="da-DK">Element for en forespørgsel der pauserer en lægemiddelordination</documentation>
    </annotation>
  </element>
  <complexType name="PauseDrugMedicationType">
    <sequence>
      <element name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType" />
      <choice minOccurs="0">
        <element name="FromDate" type="medicinecard20150101:PausedFromDateType" />
        <element name="FromDateTime" type="medicinecard20150101:PausedFromDateTimeType" />
      </choice>
      <choice minOccurs="0">
        <element name="ToDate" type="medicinecard20150101:PausedToDateType" />
        <element name="ToDateTime" type="medicinecard20150101:PausedToDateTimeType" />
      </choice>
      <element minOccurs="0" name="PausedBy" type="medicinecard20150101:ModificatorType" />
      <element minOccurs="0" name="ModificationMetadata" type="medicinecard20150101:ModificationMetadataType" />
    </sequence>
  </complexType>
</schema>