Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/PrescriptionReplicationStatus.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="LatestReplicationDateTime.xsd" />
  <element name="PrescriptionReplicationStatus" type="medicinecard20150101:PrescriptionReplicationStatusType">
    <annotation>
      <documentation xml:lang="en-GB">Structure containing status for the replication of prescriptions.</documentation>
      <documentation xml:lang="da-DK">En structur der indeholder status for replikeringen af recepter</documentation>
    </annotation>
  </element>
  <complexType name="PrescriptionReplicationStatusType">
    <sequence>
      <element name="LatestReplicationDateTime" type="medicinecard20150101:LatestReplicationDateTimeType" />
    </sequence>
  </complexType>
</schema>