Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/RolesPermissions.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="Permission.xsd" />
  <include schemaLocation="RequestedRole.xsd" />
  <element name="RolesPermissions" type="medicinecard20150101:RolesPermissionsType">
    <annotation>
      <documentation xml:lang="en-GB">Permissions for a role</documentation>
      <documentation xml:lang="da-DK">En rolles rettigheder</documentation>
    </annotation>
  </element>
  <complexType name="RolesPermissionsType">
    <sequence>
      <element name="RequestedRole" type="medicinecard20150101:RequestedRoleType" />
      <element minOccurs="0" maxOccurs="unbounded" name="Permission" type="medicinecard20150101:PermissionType" />
    </sequence>
  </complexType>
</schema>