Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/RouteOfAdministrationCode.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="Source.xsd" />
  <include schemaLocation="SourceDate.xsd" />
  <include schemaLocation="SourceYearAndWeek.xsd" />
  <element name="RouteOfAdministrationCode" type="medicinecard20150101:RouteOfAdministrationCodeType">
    <annotation>
      <documentation xml:lang="en-GB">Indicates the code of the formulations route of administration. Sourcec: "Taksten" LMS11 field 2</documentation>
      <documentation xml:lang="da-DK">Angiver kode for medicinens administrationsvej. Kilde: Taksten, LMS11 felt 2</documentation>
    </annotation>
  </element>
  <complexType name="RouteOfAdministrationCodeType">
    <simpleContent>
      <extension base="medicinecard20150101:RouteOfAdministrationCodeValueType">
        <attribute name="source" type="medicinecard20150101:RouteOfAdministrationSourceType" use="required" />
        <attribute name="date" type="medicinecard20150101:SourceDateType" use="optional" />
        <attribute name="yearAndWeek" type="medicinecard20150101:SourceYearAndWeekType" use="optional" />
      </extension>
    </simpleContent>
  </complexType>
  <simpleType name="RouteOfAdministrationCodeValueType">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="2" />
    </restriction>
  </simpleType>
  <simpleType name="RouteOfAdministrationSourceType">
    <union memberTypes="medicinecard20150101:RouteOfAdministrationPredefinedSourceType medicinecard20150101:UndefinedSourceType" />
  </simpleType>
  <simpleType name="RouteOfAdministrationPredefinedSourceType">
    <restriction base="medicinecard20150101:UndefinedSourceType">
      <enumeration value="Medicinpriser" />
    </restriction>
  </simpleType>
</schema>