Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/RouteOfAdministration.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="RouteOfAdministrationText.xsd" />
  <include schemaLocation="RouteOfAdministrationCode.xsd" />
  <element name="RouteOfAdministration" type="medicinecard20150101:RouteOfAdministrationType">
    <annotation>
      <documentation xml:lang="en-GB">Indicates the route of administration for the drug as code and text</documentation>
      <documentation xml:lang="da-DK">Angiver medicinens administrationsvej som kode og tekst</documentation>
    </annotation>
  </element>
  <complexType name="RouteOfAdministrationType">
    <sequence>
      <element name="Code" type="medicinecard20150101:RouteOfAdministrationCodeType" />
      <element minOccurs="0" name="Text" type="medicinecard20150101:RouteOfAdministrationTextType" />
    </sequence>
  </complexType>
</schema>