Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/SearchEffectuationsRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="PersonIdentifier.xsd" />
  <include schemaLocation="EffectuationDateTime.xsd" />
  <include schemaLocation="NegativeConsentRequest.xsd" />
  <element name="SearchEffectuationsRequest" type="medicinecard20150101:SearchEffectuationsRequestType">
    <annotation>
      <documentation xml:lang="en-GB">Element for a request for effectuations
			</documentation>
      <documentation xml:lang="da-DK">Element for en forespørgsel efter effektueringer
			</documentation>
    </annotation>
  </element>
  <complexType name="SearchEffectuationsRequestType">
    <sequence>
      <element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType" />
      <element minOccurs="0" name="FromDateTime" type="medicinecard20150101:EffectuationDateTimeType" />
      <element minOccurs="0" name="ToDateTime" type="medicinecard20150101:EffectuationDateTimeType" />
      <element minOccurs="0" name="IncludeEffectuationsOnDrugMedications" type="boolean" />
      <element minOccurs="0" name="IncludeEffectuationsOnPrescriptionMedicationsOnDrugMedications" type="boolean" />
      <element minOccurs="0" name="IncludeEffectuationsNotOnDrugMedications" type="boolean" />
      <element minOccurs="0" name="NegativeConsent" type="medicinecard20150101:NegativeConsentRequestType" />
    </sequence>
  </complexType>
</schema>