Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/SearchWithdrawnDrugMedicationsResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="PersonIdentifier.xsd" />
  <include schemaLocation="DrugMedicationIdentifier.xsd" />
  <include schemaLocation="DrugMedicationWithNegativeConsent.xsd" />
  <element name="SearchWithdrawnDrugMedicationsResponse" type="medicinecard20150101:SearchWithdrawnDrugMedicationsResponseType">
    <annotation>
      <documentation xml:lang="en-GB">Response from a search request for withdrawn drug medications</documentation>
      <documentation xml:lang="da-DK">Svar på en søge-forespørgsel efter seponerede lægemiddelordinationer</documentation>
    </annotation>
  </element>
  <complexType name="SearchWithdrawnDrugMedicationsResponseType">
    <sequence>
      <element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType" />
      <element minOccurs="0" maxOccurs="unbounded" name="NegativeConsent" type="medicinecard20150101:DrugMedicationWithNegativeConsentType" />
      <element minOccurs="0" maxOccurs="unbounded" name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType" />
    </sequence>
  </complexType>
</schema>