Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/SearchWithdrawnDrugMedicationsRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="PersonIdentifier.xsd" />
  <include schemaLocation="NegativeConsentRequest.xsd" />
  <include schemaLocation="WithdrawnDateTime.xsd" />
  <element name="SearchWithdrawnDrugMedicationsRequest" type="medicinecard20150101:SearchWithdrawnDrugMedicationsRequestType">
    <annotation>
      <documentation xml:lang="en-GB">Element for a search request for withdrawn drug medications</documentation>
      <documentation xml:lang="da-DK">Element for en søge-forespørgsel efter seponerede lægemiddelordinationer</documentation>
    </annotation>
  </element>
  <complexType name="SearchWithdrawnDrugMedicationsRequestType">
    <sequence>
      <element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType" />
      <element minOccurs="0" name="DateTime" type="dateTime" />
      <element minOccurs="0" name="WithdrawnAfterDateTime" type="medicinecard20150101:WithdrawnDateTimeType" />
      <element minOccurs="0" name="NegativeConsent" type="medicinecard20150101:NegativeConsentRequestType" />
    </sequence>
  </complexType>
</schema>