Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/SetMedicineCardNotReviewed.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="Modificator.xsd" />
  <include schemaLocation="ReviewedDateTime.xsd" />
  <include schemaLocation="ModificationMetadata.xsd" />
  <element name="SetMedicineCardNotReviewed" type="medicinecard20150101:SetMedicineCardNotReviewedType">
    <annotation>
      <documentation xml:lang="en-GB">Element for a request to set a date and time for marking the medicine card not reviewed</documentation>
      <documentation xml:lang="da-DK">Element for en forespørgsel til at sætte dato og tid for markering af at manglende medicinkort-gennemgang</documentation>
    </annotation>
  </element>
  <complexType name="SetMedicineCardNotReviewedType">
    <sequence>
      <element minOccurs="0" name="NotReviewedBy" type="medicinecard20150101:ModificatorType" />
      <element name="NotReviewedDateTime" type="medicinecard20150101:ReviewedDateTimeType" />
      <element minOccurs="0" name="ModificationMetadata" type="medicinecard20150101:ModificationMetadataType" />
    </sequence>
  </complexType>
</schema>