Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/SimplePersonWithoutCPR.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="PersonName.xsd" />
  <include schemaLocation="BirthDate.xsd" />
  <include schemaLocation="Gender.xsd" />
  <element name="SimplePersonWithoutCPR" type="medicinecard20150101:SimplePersonWithoutCPRType">
    <annotation>
      <documentation xml:lang="en-GB">Information about a person without known CPR</documentation>
      <documentation xml:lang="da-DK">Oplysninger om en person uden kendt CPR</documentation>
    </annotation>
  </element>
  <complexType name="SimplePersonWithoutCPRType">
    <sequence>
      <element name="Name" type="medicinecard20150101:PersonNameType" />
      <element name="BirthDate" type="medicinecard20150101:BirthDateType" />
      <element name="Gender" type="medicinecard20150101:GenderType" />
    </sequence>
  </complexType>
</schema>