Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/Substances.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="ActiveSubstance.xsd" />
  <element name="Substances" type="medicinecard20150101:SubstancesType">
    <annotation>
      <documentation xml:lang="en-GB">Contains a number of substances</documentation>
      <documentation xml:lang="da-DK">Indeholder et antal substanser</documentation>
    </annotation>
  </element>
  <complexType name="SubstancesType">
    <sequence maxOccurs="100">
      <element name="ActiveSubstance" type="medicinecard20150101:ActiveSubstanceType" />
    </sequence>
  </complexType>
</schema>