Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/UpdateMedicineCardRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="AttachPrescriptionMedication.xsd" />
  <include schemaLocation="CancelPrescriptionMedication.xsd" />
  <include schemaLocation="CreateDrugMedication.xsd" />
  <include schemaLocation="CreateEffectuationOnDrugMedication.xsd" />
  <include schemaLocation="CreatePrescriptionMedication.xsd" />
  <include schemaLocation="DetachPrescriptionMedication.xsd" />
  <include schemaLocation="DeleteEffectuation.xsd" />
  <include schemaLocation="MarkPrescriptionMedicationDeprecated.xsd" />
  <include schemaLocation="Modificator.xsd" />
  <include schemaLocation="PauseDrugMedication.xsd" />
  <include schemaLocation="SetMedicineCardReviewed.xsd" />
  <include schemaLocation="SetMedicineCardNotReviewed.xsd" />
  <include schemaLocation="UnmarkPrescriptionMedicationDeprecated.xsd" />
  <include schemaLocation="UnpauseDrugMedication.xsd" />
  <include schemaLocation="UnwithdrawDrugMedication.xsd" />
  <include schemaLocation="UpdateDrugMedication.xsd" />
  <include schemaLocation="WithdrawDrugMedication.xsd" />
  <include schemaLocation="MedicineCardVersion.xsd" />
  <include schemaLocation="Organisation.xsd" />
  <include schemaLocation="PersonIdentifier.xsd" />
  <element name="UpdateMedicineCardRequest" type="medicinecard20150101:UpdateMedicineCardRequestType">
    <annotation>
      <documentation xml:lang="en-GB">Outer container element for a batch request to update a medicine card</documentation>
      <documentation xml:lang="da-DK">Ydre container-element for en batchforespørgsel for at opdatere et medicinkort</documentation>
    </annotation>
  </element>
  <complexType name="UpdateMedicineCardRequestType">
    <sequence>
      <element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType" />
      <element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType" />
      <element minOccurs="0" name="ModifiedBy" type="medicinecard20150101:ModificatorType" />
      <element minOccurs="0" name="ReportedBy" type="medicinecard20150101:ModificatorType" />
      <sequence maxOccurs="unbounded">
        <choice minOccurs="0">
          <element name="SetMedicineCardReviewed" type="medicinecard20150101:SetMedicineCardReviewedType" />
          <element name="SetMedicineCardNotReviewed" type="medicinecard20150101:SetMedicineCardNotReviewedType" />
        </choice>
        <element minOccurs="0" name="CreateDrugMedication" type="medicinecard20150101:CreateDrugMedicationType" />
        <element minOccurs="0" name="UpdateDrugMedication" type="medicinecard20150101:UpdateDrugMedicationType" />
        <element minOccurs="0" name="WithdrawDrugMedication" type="medicinecard20150101:WithdrawDrugMedicationType" />
        <element minOccurs="0" name="UnwithdrawDrugMedication" type="medicinecard20150101:UnwithdrawDrugMedicationType" />
        <element minOccurs="0" name="PauseDrugMedication" type="medicinecard20150101:PauseDrugMedicationType" />
        <element minOccurs="0" name="UnpauseDrugMedication" type="medicinecard20150101:UnpauseDrugMedicationType" />
        <element minOccurs="0" name="CreatePrescriptionMedication" type="medicinecard20150101:CreatePrescriptionMedicationType" />
        <element minOccurs="0" name="AttachPrescriptionMedication" type="medicinecard20150101:AttachPrescriptionMedicationType" />
        <element minOccurs="0" name="DetachPrescriptionMedication" type="medicinecard20150101:DetachPrescriptionMedicationType" />
        <element minOccurs="0" name="MarkPrescriptionMedicationDeprecated" type="medicinecard20150101:MarkPrescriptionMedicationDeprecatedType" />
        <element minOccurs="0" name="UnmarkPrescriptionMedicationDeprecated" type="medicinecard20150101:UnmarkPrescriptionMedicationDeprecatedType" />
        <element minOccurs="0" name="CancelPrescriptionMedication" type="medicinecard20150101:CancelPrescriptionMedicationType" />
        <element minOccurs="0" name="CreateEffectuationOnDrugMedication" type="medicinecard20150101:CreateEffectuationOnDrugMedicationType" />
        <element minOccurs="0" name="DeleteEffectuation" type="medicinecard20150101:DeleteEffectuationType" />
      </sequence>
    </sequence>
  </complexType>
</schema>