Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/WithdrawDrugMedication.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="Modificator.xsd" />
  <include schemaLocation="DrugMedicationIdentifier.xsd" />
  <include schemaLocation="ModificationMetadata.xsd" />
  <element name="WithdrawDrugMedication" type="medicinecard20150101:WithdrawDrugMedicationType">
    <annotation>
      <documentation xml:lang="en-GB">A request which withdraws the drug prescription</documentation>
      <documentation xml:lang="da-DK">En forespørgsel der seponerer en lægemiddelordination</documentation>
    </annotation>
  </element>
  <complexType name="WithdrawDrugMedicationType">
    <sequence>
      <element name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType" />
      <element minOccurs="0" name="WithdrawnBy" type="medicinecard20150101:ModificatorType" />
      <element minOccurs="0" name="ModificationMetadata" type="medicinecard20150101:ModificationMetadataType" />
    </sequence>
  </complexType>
</schema>