Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/Withdrawn.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="Modificator.xsd" />
  <include schemaLocation="WithdrawnDateTime.xsd" />
  <element name="Withdrawn" type="medicinecard20150101:WithdrawnType">
    <annotation>
      <documentation xml:lang="en-GB">Informations about who, when and why the drug medication was withdrawn</documentation>
      <documentation xml:lang="da-DK">Information om hvem, hvornår og hvorfor lægemiddelordination er seponeret </documentation>
    </annotation>
  </element>
  <complexType name="WithdrawnType">
    <sequence>
      <element name="By" type="medicinecard20150101:ModificatorType" />
      <element name="DateTime" type="medicinecard20150101:WithdrawnDateTimeType" />
    </sequence>
  </complexType>
</schema>