Examples/Healthcare/Healthcare.StandaloneWscExample/Connected Services/MedicineCard/WithdrawDrugMedicationRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="WithdrawDrugMedication.xsd" />
  <include schemaLocation="Modificator.xsd" />
  <include schemaLocation="MedicineCardVersion.xsd" />
  <include schemaLocation="PersonIdentifier.xsd" />
  <element name="WithdrawDrugMedicationRequest" type="medicinecard20150101:WithdrawDrugMedicationRequestType">
    <annotation>
      <documentation xml:lang="en-GB">Outer container element for a request for which withdraws the drug medication</documentation>
      <documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der seponerer en lægemiddelordination</documentation>
    </annotation>
  </element>
  <complexType name="WithdrawDrugMedicationRequestType">
    <sequence>
      <element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType" />
      <element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType" />
      <element name="WithdrawnBy" type="medicinecard20150101:ModificatorType" />
      <element minOccurs="0" name="ReportedBy" type="medicinecard20150101:ModificatorType" />
      <element maxOccurs="unbounded" name="DrugMedication" type="medicinecard20150101:WithdrawDrugMedicationType" />
    </sequence>
  </complexType>
</schema>