Examples/Java/Healthcare/system-user-scenario-bearer/src/main/resources/HelloWorld-Bearer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HelloWorld"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
				  xmlns:hw="http://www.example.org/schema/HelloWorld"
				  xmlns:tns="http://www.example.org/contract/HelloWorld"
				  xmlns:wsp="http://www.w3.org/ns/ws-policy"
				  xmlns:wsap="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
				  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
				  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
				  xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
				  xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
				  targetNamespace="http://www.example.org/contract/HelloWorld">

	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/schema/HelloWorld">
			<xsd:element name="HelloWorld">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="HelloWorldResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="response" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="HelloWorldRequest">
		<wsdl:part element="hw:HelloWorld" name="parameters" />
	</wsdl:message>
	<wsdl:message name="HelloWorldResponse">
		<wsdl:part element="hw:HelloWorldResponse" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="HelloWorldPortType">
		<wsdl:operation name="HelloWorld">
			<wsdl:input message="tns:HelloWorldRequest" />
			<wsdl:output message="tns:HelloWorldResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="HelloWorldBinding" type="tns:HelloWorldPortType">
		<wsp:PolicyReference URI="#HelloWorldBindingPolicy" />
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="HelloWorld">
			<soap:operation soapAction="http://www.example.org/contract/HelloWorld/HelloWorldPortType/HelloWorldRequest" />
			<wsdl:input>
				<soap:body use="literal" />
				<wsp:PolicyReference URI="#HelloWorldBinding_HelloWorld_Input_Policy" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<wsp:PolicyReference URI="#HelloWorldBinding_HelloWorld_Output_Policy" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="HelloWorldService">
		<wsdl:port name="HelloWorldPort" binding="tns:HelloWorldBinding">
			<soap:address location="https://wsp-idws-xua:8445/HelloWorld/services/helloworld" />
		</wsdl:port>
	</wsdl:service>

	<wsp:Policy wsu:Id="HelloWorldBindingPolicy">
		<wsp:ExactlyOne>
			<wsp:All>
				<wsam:Addressing wsp:Optional="false">
					<wsp:Policy />
				</wsam:Addressing>

				<sp:AsymmetricBinding>
					<wsp:Policy>
						<sp:InitiatorToken>
							<wsp:Policy>
								<sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
									<wsp:Policy>
										<sp:WssX509V3Token10 />
									</wsp:Policy>
								</sp:X509Token>
							</wsp:Policy>
						</sp:InitiatorToken>

						<sp:RecipientToken>
							<wsp:Policy>
								<sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToInitiator">
									<wsp:Policy>
										<sp:WssX509V3Token10 />
									</wsp:Policy>
								</sp:X509Token>
							</wsp:Policy>
						</sp:RecipientToken>

						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256Sha256 />
							</wsp:Policy>
						</sp:AlgorithmSuite>

						<sp:Layout>
							<wsp:Policy>
								<sp:Strict />
							</wsp:Policy>
						</sp:Layout>

 						<sp:ProtectTokens />
						<sp:IncludeTimestamp />
						<sp:OnlySignEntireHeadersAndBody />
					</wsp:Policy>
				</sp:AsymmetricBinding>

				<sp:SupportingTokens>
					<wsp:Policy>
						<sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
							<sp:RequestSecurityTokenTemplate>
								<wsap:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</wsap:KeyType>
								<wsap:TokenType>http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV2.0</wsap:TokenType>
							</sp:RequestSecurityTokenTemplate>
							<wsp:Policy />
						</sp:IssuedToken>
					</wsp:Policy>
				</sp:SupportingTokens>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>

	<wsp:Policy wsu:Id="HelloWorldBinding_HelloWorld_Input_Policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:SignedParts>
					<sp:Body />
					<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
				</sp:SignedParts>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>

	<wsp:Policy wsu:Id="HelloWorldBinding_HelloWorld_Output_Policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:SignedParts>
					<sp:Body />
					<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
				</sp:SignedParts>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
</wsdl:definitions>
