Examples/Digst.OioIdws.Java/system-user-scenario-hok/src/main/resources/sts.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512/"
				  xmlns:tns="http://docs.oasis-open.org/ws-sx/ws-trust/200512/"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
				  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
				  xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
				  xmlns:xs="http://www.w3.org/2001/XMLSchema"
				  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">

	<wsdl:types>
		<xs:schema elementFormDefault="qualified" targetNamespace='http://docs.oasis-open.org/ws-sx/ws-trust/200512'>
			<xs:complexType name='AbstractRequestSecurityTokenType'>
				<xs:sequence>
					<xs:any namespace='##any' processContents='lax' minOccurs='0' maxOccurs='unbounded' />
				</xs:sequence>
				<xs:attribute name='Context' type='xs:anyURI' use='optional' />
				<xs:anyAttribute namespace='##other' processContents='lax' />
			</xs:complexType>

			<xs:element name='RequestSecurityToken' type='wst:AbstractRequestSecurityTokenType' />
			<xs:element name='RequestSecurityTokenResponse' type='wst:AbstractRequestSecurityTokenType' />
			<xs:element name='RequestSecurityTokenCollection' type='wst:RequestSecurityTokenCollectionType' />
			<xs:complexType name='RequestSecurityTokenCollectionType'>
				<xs:sequence>
					<xs:element name='RequestSecurityToken' type='wst:AbstractRequestSecurityTokenType' minOccurs='2' maxOccurs='unbounded' />
				</xs:sequence>
			</xs:complexType>

			<xs:element name='RequestSecurityTokenResponseCollection' type='wst:RequestSecurityTokenResponseCollectionType' />
			<xs:complexType name='RequestSecurityTokenResponseCollectionType'>
				<xs:sequence>
					<xs:element ref='wst:RequestSecurityTokenResponse' minOccurs='1' maxOccurs='unbounded' />
				</xs:sequence>
				<xs:anyAttribute namespace='##other' processContents='lax' />
			</xs:complexType>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="RequestSecurityTokenMsg">
		<wsdl:part name="request" element="wst:RequestSecurityToken" />
	</wsdl:message>
	<wsdl:message name="RequestSecurityTokenResponseMsg">
		<wsdl:part name="response" element="wst:RequestSecurityTokenResponse" />
	</wsdl:message>
	<wsdl:message name="RequestSecurityTokenCollectionMsg">
		<wsdl:part name="requestCollection" element="wst:RequestSecurityTokenCollection" />
	</wsdl:message>
	<wsdl:message name="RequestSecurityTokenResponseCollectionMsg">
		<wsdl:part name="responseCollection" element="wst:RequestSecurityTokenResponseCollection" />
	</wsdl:message>

	<wsdl:portType name="STS">
		<wsdl:operation name="Issue">
			<wsdl:input wsam:Action="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" message="tns:RequestSecurityTokenMsg" />
			<wsdl:output wsam:Action="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RSTRC/IssueFinal" message="tns:RequestSecurityTokenResponseCollectionMsg" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="X509_Binding" type="tns:STS">
		<wsp:PolicyReference URI="#X509_policy" />
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Issue">
			<soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" />
			<wsdl:input>
				<wsp:PolicyReference URI="#Input_policy" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsp:Policy wsu:Id="X509_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:AsymmetricBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
					<wsp:Policy>
						<sp:InitiatorToken>
							<wsp:Policy>
								<sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
									<wsp:Policy>
										<sp:WssX509V3Token10 />
									</wsp:Policy>
								</sp:X509Token>
							</wsp:Policy>
						</sp:InitiatorToken>

						<sp:RecipientToken>
							<wsp:Policy>
								<sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
									<wsp:Policy>
										<sp:WssX509V3Token10 />
										<sp:RequireIssuerSerialReference />
									</wsp:Policy>
								</sp:X509Token>
							</wsp:Policy>
						</sp:RecipientToken>

						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256 />
							</wsp:Policy>
						</sp:AlgorithmSuite>

						<sp:Layout>
							<wsp:Policy>
								<sp:Strict />
							</wsp:Policy>
						</sp:Layout>

						<sp:ProtectTokens />
						<sp:IncludeTimestamp />
						<sp:OnlySignEntireHeadersAndBody />
					</wsp:Policy>
				</sp:AsymmetricBinding>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>

	<wsp:Policy wsu:Id="Input_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:SignedParts xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
					<sp:Body />
					<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
				</sp:SignedParts>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>

	<wsdl:service name="SecurityTokenService">
		<wsdl:port name="STS_Port" binding="tns:X509_Binding">
			<soap:address location="https://securetokenservice.test-nemlog-in.dk/SecurityTokenService.svc" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
